<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

         <span class="spinner-rotate"></span>
         
    </div>
</section>


<!-- HEADER -->
<header>
  <div class="container">
  <div class="row">
      <div class="col-md-4 col-sm-5">
          <p>LET'S SPREAD COVID-19 AWARENESS</p>
      </div>
      <div class="col-md-8 col-sm-7 text-align-right">
          <span class="phone-icon"><i class="fa fa-phone"></i> 05-468888</span>
          <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 10:00 AM - 5:00 PM (Mon-Fri)</span>
          <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#"><utarwellnesscentre@edu class="my"></utarwellnesscentre@edu></a></span>
      </div>
  </div>
  </div>
</header>

<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"></i>e-UTAR HEALTHCARE SYSTEM</a>
      </div>
